CMakeCache.txt
build/
ipch/
Debug/
x64/
Win32
Release/
RelWithDebInfo/
CMakeFiles/
*~

*.[oa]
*.obj
*.tlog
*.manifest.res
*.manifest
*.kdev4
*.cmake
*.sln
*.sdf
*.opensdf
*.suo
*.vcxproj*
*.vcproj
*.vsp